<a href="https://colab.research.google.com/github/azeezkenny007/Club-House-Clone/blob/main/Segmentation_of_customer_data_for_market_analysis_using_k_means_clustering.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

importing the dependencies
1.   numpy - for numerical analysis
2.   pandas -for Data manipulation and analysis
3.   sklearn - To provide the machine learning algorithm
4.   Seaborn - Use for data visualization
5.   Matplotlib - for data visualization and plot

In [ ]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
from sklearn.cluster import KMeans
import seaborn as sns

Data collection & analysis






> *  Loading the data from a csv file to a pandas dataframe as a pandas dataframe

In [ ]:
customer_data = pd.read_csv("/content/Mall_Customers.csv")




> To check if the dataset has been inputed, i did this by checking the first 5 rows
     

*   Using the head method on the customer_data variable, you can retrieve the first five rows of the file.
      
*   Using the tail method on the customer_data variable, you can retrieve the last five rows of the file.

In [ ]:
customer_data.head()

   CustomerID  Gender  Age  Annual Income (k$)  Spending Score (1-100)
0           1    Male   19                  15                      39
1           2    Male   21                  15                      81
2           3  Female   20                  16                       6
3           4  Female   23                  16                      77
4           5  Female   31                  17                      40

To know the structure of the data in terms of the rows and column

* To find the number of rows and columns , we use the shape property on the customer_data variable

In [ ]:
customer_data.shape

(200, 5)

The next step is to know the data type of our data    


> By using the info method we can conclude on the datatype of our data


> From the above data below we can see we have:


        1. 200 non-null value , indicating no null value in the dataset

        2. The datatype for all the columns are:
               *   Customer Id - Int64 - it can take only positive whole number.(the size is a 64bit integer value)
               *   Gender - it can contain text data or a combination of different data types (such as strings, lists, or dictionaries), but in this dataset it contains strings.
               *   Age - it can take only positive whole number(the size is a 64bit integer value)
               *   Annual income -it can take only positive whole number(the size is a 64bit integer value)
               *   Spending Score - it can take only positive whole number(the size is a 64bit integer value)

In [ ]:
customer_data.info

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 200 entries, 0 to 199
Data columns (total 5 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   CustomerID              200 non-null    int64
 1   Gender                  200 non-null    object
 2   Age                     200 non-null    int64
 3   Annual Income (k$)      200 non-null    int64
 4   Spending Score (1-100)  200 non-null    int64
dtypes: int64(4), object(1)
memory usage: 7.9+ KB